html
	color: #000000
	font-family: 'Comfortaa'
	font-size: 12px
	a
		color: #000000
		text-decoration: none
		&:hover
			text-decoration: underline


#siteWrapper
	margin: 5% auto
	width: 930px

.leftColumn
	float: left
	width: 375px
	header
		font-size: 44px
		text-align: right
		text-transform: uppercase
	nav
		width: 100%
		li
			font-size: 24px
			text-align: right
			text-transform: uppercase

#gallery
	.thumb
		display: inline-block
		float: left
		position: relative
		.title
			background: rgba(255, 255, 255, .65) 
			font-size: 12px
			height: 100%
			left: 0
			position: absolute
			top: 0
			width: 100%
			p
				margin-top: 30px
				text-align: center
				text-transform: uppercase

	.controls
		clear: both
		.plus, .minus
			font-size: 44px
			&:hover
				text-decoration: none
		.plus
			float: right

.rightColumn
	float: right
	width: 455px
	.title, .desc
		font-size: 15px
		text-align: right
		text-transform: uppercase