.leftColumn
	%header erin mical jade
	%nav
		%ul
			%li
				%a.about about
			%li
				%a.email say hello
	#gallery
		.thumb
			%img(src="images/thumb.png")
			.title 
				%p electric coral
		.thumb
			%img(src="images/thumb.png")
			.title 
				%p electric coral
		.thumb
			%img(src="images/thumb.png")
			.title 
				%p electric coral
		.thumb
			%img(src="images/thumb.png")
			.title 
				%p electric coral
		.thumb
			%img(src="images/thumb.png")
			.title 
				%p electric coral		
		.controls
			%a.minus(href="#") -
			%a.plus(href="#") +
.rightColumn
	#about
	#email
	#painting
		%img(src="images/painting.png")
		.title electric coral
		.desc acrylic + spray paint 68x72"