!!! 5
%html{:lang=>"en"}
	%head
		%meta{:charset=>"utf-8"}
		%title= @title
		%meta{:name=>"description",:content=>""}
		%meta{:name=>"author",:content=>""}
		%link{:rel=>"shortcut icon",:href=>"/favicon.ico"}
		= stylesheet_link_tag 'reset', 'http://fonts.googleapis.com/css?family=Comfortaa', 'application'
		%script{:type=>"text/javascript", :src=>"https://ajax.googleapis.com/ajax/libs/jquery/11.0/jquery.min.js"}
		= javascript_include_tag 'application'
#siteWrapper
	= yield